<form action="/login" method="POST">
    <div class="form-control">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
    </div>
    <div class="form-control">
        <label for="">Password</label>
        <input type="password" name="password" id="password">
    </div>
    <p>Anda admin perpustakaan? <a href="/login-admin">Login disini</a></p>
    <button type="submit">Login</button>
</form>