<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="/images/logo.png" alt="..." /></div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">Rent Books</h1>
        <p>Rent Books merupakan sebuah platform online yang sangat membantu bagi para pembaca untuk menyewa buku secara cepat tanpa harus berada di tempat. </p>
    </div>
</div>