<!-- <footer class="footer position-relative w-100 text-center mt-5" style="bottom: 0;">
    <div class="container">
        <p>&copy; 2023 BookRents. All rights reserved.</p>
    </div>
</footer> -->