<header>
    <nav class="navbar navbar-expand-lg navbar-light position-fixed bg-white" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
        <div class="container">
            <a href="/">
                <img src="/images/logo.png" alt="" width="60">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/pages/about">Tentang</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pages/contact">Kontak</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/category">Kategori</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-nav ml-auto gap-3">
                <% if(!isAuthenticated) { %>
                    <a href="/signup">
                        <button class="btn btn-transparent">Signup</button>
                    </a>
                    <a href="/login">
                        <button class="btn btn-primary">Login</button>
                    </a>
                <% } else { %>
                    <h5>Hello, <%= user.name %></h5>
                    <a href="/profile/general">
                        <img src="/images/user.png" alt="user-img" width="30">
                    </a>
                <% } %>
            </div>
        </div>
    </nav>
</header>