<div class="container center-div">
    <div class="text-center">
        <img src="/images/successfull-transaction.png" alt="Pembayaran Berhasil" class="w-25">
        <h1 class="fw-bold">Pembayaran Denda Berhasil</h1>
        <p>Kami memahami kesalahan Anda dan harap dicatat bahwa nominal denda dapat dipengaruhi <br>berdasarkan jumlah buku yang terlambat dikembalikan.</p>
        <a href="/profile/general" class="btn btn-primary">Kembali</a>
    </div>
</div>