<div class="container center-div">
    <div class="text-center">
      <img src="/images/successfull-transaction.png" alt="Pembayaran Berhasil" class="w-50">
      <h1 class="fw-bold">Pembayaran Berhasil</h1>
      <p>Terima kasih atas pembayaran Anda. Peminjaman buku <br>Anda akan segera kami proses </p>
      <a href="/profile/loans" class="btn btn-primary">Kembali</a>
    </div>
</div>