<div class="container" style="margin-top: 9rem">
    <div>
        <h1>Tentang Kami</h1>
        <p>Selamat datang di situs peminjaman buku kami! Kami adalah platform yang menyediakan layanan peminjaman buku secara online. Visi kami adalah mempermudah akses terhadap buku-buku yang berkualitas bagi masyarakat.</p>
        <p>Kami menyadari betapa pentingnya literasi dalam kehidupan sehari-hari. Oleh karena itu, kami ingin memfasilitasi individu-individu untuk dapat mengakses dan menikmati buku dengan cara yang mudah dan efisien.</p>
    </div>

    <div>
        <h2>Misi Kami</h2>
        <ul>
            <li>Menyediakan beragam koleksi buku dari berbagai genre dan tema.</li>
            <li>Memastikan ketersediaan buku-buku terbaru dan terpopuler di pasaran.</li>
            <li>Menyediakan layanan peminjaman yang mudah, cepat, dan aman.</li>
            <li>Memberikan pengalaman pengguna yang nyaman dan memuaskan.</li>
            <li>Menjaga integritas buku-buku yang dipinjam untuk kepuasan pengguna berikutnya.</li>
        </ul>
    </div>

    <div>
        <h2>Tim Kami</h2>
        <p>Kami adalah tim yang terdiri dari pecinta buku dan teknologi. Kami memiliki semangat untuk membantu orang-orang mengeksplorasi dunia literasi dengan memberikan akses mudah ke berbagai buku yang menarik.</p>
        <p>Tim kami terdiri dari perpustakaan yang berpengalaman, ahli IT, dan tim layanan pelanggan yang siap membantu Anda dengan setiap pertanyaan dan permintaan yang Anda miliki.</p>
    </div>
</div>